.user{
    width: 200px;
    height: 150px;
    border: 2px solid black;
    margin: 10px;

    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;

}
.button{
    width: 120px;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-left: 40px;
}
.users{
    margin: 0 auto;
    display: flex;
    width: 1550px;
    flex-wrap: wrap;
    justify-content: space-evenly;

}